<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner-Groups</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/pet-book.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form th:action="@{/ownergroups/search}" th:object="${searchCriteria}" method="get" class="form-horizontal"
                  id="search-owner-group-form">
                <div class="form-group row">
                    <div class="offset-8 col-4">
                        <div class="row">
                            <input type="text" class="form-control col" placeholder="Type your Search Criteria here..."
                                   th:field="*{searchCriteria}" size="30" maxlength="80"/>
                            <button type="submit" class="btn btn-outline-primary">Filter</button>
                        </div>
                        <div class="row">

                            <div class="help-inline col">
                                <div th:if="${#fields.hasAnyErrors()}">
                                    <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Group</th>
                    <th scope="col">Owners</th>
                    <th scope="col">Pets</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ownergroup : ${ownergroups}">
                    <td scope="col" th:text="${ownergroup.title}"></td>
                    <td scope="col">
                        <div class="row">
                            <div data-toggle="tooltip"
                                 data-placement="top"
                                 th:title="${owner.getFullName()}"
                                 th:each="owner : ${ownergroup.owners}"
                                 class="col-3">
                                <img class="img-thumbnail rounded-circle petbookIcon ownerIcon"
                                     th:src="@{/resources/images/bjornavatar.jpg}">
                            </div>
                        </div>
                    </td>
                    <td scope="col">
                        <div class="row">
                            <div data-toggle="tooltip"
                                 data-placement="top"
                                 th:title="${pet.name}"
                                 th:each="pet : ${ownergroup.pets}"
                                 class="col-3">
                                <img class="img-thumbnail rounded-circle petbookIcon petIcon"
                                     th:src="@{/resources/images/grizelda-thumb.jpg}">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>