<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/resources/images/pets.png}" alt="..." class="img-thumbnail img-fluid petBookBrand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pet Feed</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/ownergroups' ? 'active':''}">
                <a class="nav-link" th:href="@{/ownergroups}"href="#">Owner groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Your friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
